html,
body,
* {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

:root {
  --green: #135613;
  --black: #000;
  --light-green: rgba(11, 156, 49, 0.8);
  --light-black: #222;
  --white: #fff;
  --dark-grey: #1a2f41;
  --grey: #252c30;
  --light-blue: #2998ff;
  --light-blue-gradient: #2998ff60;
  --dark-blue: #135cc5;
  --dark-blue-gradient: #135cc560;
  --lightGrey: #f2f4f6;
  --light-glass-background: rgba(255, 255, 255, 0.4);
  --light-glass-border: rgba(255, 255, 255, 0.4);
  --dark-glass-background: rgba(0, 0, 0, 0.4);
  --dark-glass-border: rgba(0, 0, 0, 0.4);
  --btn: var(--light-black);
  --glass-background: var(--light-glass-background);
  --glass-border: var(--light-glass-border);
  --background-primary: var(--light-black);
  --card-background: var(--black);
  --card-text: var(--white);
  --background-secondary: var(--dark-grey);
  --text-primary: var(--green);
  --text-secondary: var(--white);
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
  --smallText: 0.8rem;
  --dark-shadow: 0px 0px 6px 6px var(--orange);
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-2-white: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.1);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 10px;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
  color: black;
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

#farquaad {
  transition: 0.3s;
}

#farquaad:hover {
  size: 150%;
}

.points {
  position: relative;
  align-self: center;
  width: 25vw;
  background-color: var(--light-green);
}

.mainOrder {
  flex-wrap: wrap;
  display: block;
  width: 25vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  height: 65.7rem;
  background-color: var(--grey);
  z-index: 1;
}

.mainOrder::-webkit-scrollbar {
  display: none;
}

.emailLogin {
  font-size: 2rem;
}

.passwordLogin {
  font-size: 2rem;
}

.inputEmail {
  font-size: 2rem;
  width: 40rem;
  height: 4rem;
}

.inputPassword {
  font-size: 2rem;
  width: 40rem;
  height: 4rem;
}

.form {
  background-color: var(--light-green);
  border-radius: 2rem;
  border: var(--black) solid 0.5rem;
  margin-top: 10rem;
  margin-left: 45rem;
  margin-right: 45rem;
}

.navTitle {
  position: relative;
  font-size: var(--h1);
  background-color: var(--light-green);
  border-radius: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 10rem;
}

.list {
  color: var(--black);
}

.shrek {
  max-width: 30%;
  position: relative;
}

#app {
  background-color: var(--white);
  height: 8vw;
}

nav {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: var(--black);
}

nav h1 {
  margin-left: 10%;
  margin-right: 10%;
}

.logoutButton,
nav a,
nav button,
nav span {
  margin-left: 10%;
  margin-bottom: 10rem;
}

.logoutSection {
  background-color: var(--light-green);
  margin-left: 3rem;
  width: 40rem;
  height: 10rem;
  border-radius: 2rem;
}

.logoutButton,
nav a {
  color: var(--grey);
  font-weight: bold;
  font-size: 4rem;
  background-color: var(--lightGrey);
  transition: 0.5s;
  border-radius: 0.5rem;
}

nav a:hover {
  background-color: var(--green);
  font-size: 5rem;
}

nav span {
  color: var(--white);
  margin-left: 10%;
  font-size: 2rem;
}

.top {
  color: var(--black);
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  color: var(--black);
}

form button {
  display: block;
  margin-top: 20px;
}

.timer {
  background-color: var(--white);
}


@media screen and (max-width: 1800px) {
  .mainOrder {}
}

@media screen and (max-width: 1500px) {
  .mainOrder {
    height: 62.5rem;
  }

  .cardImage {
    size: 100%;
  }
}

@media screen and (max-width: 400px) {
  .mainOrder {
    height: 10rem;
  }

  .cardImage {
    size: 50%;
  }
}

.main-page-content {
  display: flex;
}
.clicker-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/037/996/165/large/remi-mouillet-marais-shrek-pixel-art-1.jpg?1621889591);
  background-size: cover;
}
