.mainOrder {
  flex: wrap;
  display: flex;
  width: 98vw;
  justify-content: space-evenly;
  margin-left: 5%;
  align-content: center;
  height: 98 vw;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.budgetWarning {
  width: 90%;
  position: relative;
  font-size: 40px;
  background-color: rgb(2, 3, 2);
  color: white;
}

h1 {
  position: relative;
  font-size: 40px;
  background-color: rgb(2, 3, 2);
}

h2,
h3,
h4 {
  color: black;
}

.list {
  color: black;
}

.shrek {
  max-width: 30%;
  position: absolute;
  left: 475px;
  bottom: 20px;
}

nav {
  display: flex;
  align-items: center;
}
nav h1 {
  margin-right: auto;
}
nav a,
nav button,
nav span {
  margin-left: 20px;
}
nav a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}
nav span {
  color: #777;
}
.top {
  color: black;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  color: black;
}
form button {
  display: block;
  margin-top: 20px;
}
