nav {
  display: flex;
  align-items: center;
}
nav h1 {
  margin-right: auto;
}
nav a,
nav button,
nav span {
  margin-left: 20px;
}
nav a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}
nav span {
  color: #777;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}
form button {
  display: block;
  margin-top: 20px;
}

.mainOrder {
  flex: wrap;
  display: flex;
  width: 98vw;
  justify-content: space-evenly;
  margin-top: 50px;
  align-content: center;
}

.mainCart {
  width: 500px;
  margin-top: 600px;
  position: absolute;
  bottom: 10px;
  left: 500px;
  width: 700px;
  border: 10px rgb(32, 172, 32) solid;
  border-radius: 30px;
}

.cartTitle {
  font-size: 40px;
}

h1 {
  position: fixed;
  font-size: 40px;
  background-color: rgb(34, 68, 34);
}

h2,
h3,
h4 {
  color: white;
}

.errorMessage {
  color: white;
  font-size: 30px;
}

#Button-Undo {
  position: relative;
  margin: 25px auto;
}
#Button-RemoveAll {
  position: relative;
  margin: 25px auto;
}

#Button-Checkout {
  position: relative;
  margin: 25px auto;
}

.list {
  color: white;
}

.shrek {
  max-width: 30%;
  position: absolute;
  left: 475px;
  bottom: 20px;
}
